name: Terraform State Fix (One-Time)

on:
  workflow_dispatch:

jobs:
  state-fix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Show Terraform State
        run: terraform state list

      - name: Remove deleted EKS cluster from state
        run: |
          terraform state rm module.eks.aws_eks_cluster.this[0]
